@import "~bootstrap/scss/bootstrap";
@import "custom";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome'; 
@import '~@fortawesome/fontawesome-free/scss/solid'; 
@import '~@fortawesome/fontawesome-free/scss/regular'; 
@import '~@fortawesome/fontawesome-free/scss/brands'; 

// Color scheme
$text:            #47444b;
$background:      #36b1ac;
$mainItems:       #e2690e;
$listItems:       #fdcc0e;
$backgroundItems: #ffffbd;

html {
  height:100%;
}

body {
  background-color: $background;
}

img {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.list-group-item {
  background-color: $light;
}
